<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="34"
            tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.RECORD_AUDIO"
            android:maxSdkVersion="34"
            tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>



    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.TwoChat"
            android:requestLegacyExternalStorage="true"
            tools:targetApi="31">
        <activity
                android:name=".view.activities.display.ReviewSendImageActivity"
                android:exported="false"/>
        <activity
                android:name=".view.activities.profile.UserProfileActivity"
                android:exported="false"/>
        <activity
                android:name=".view.activities.chats.ChatsActivity"
                android:exported="false"/>
        <activity
                android:name=".view.activities.contact.ContactsActivity"
                android:exported="false"/>
        <activity
                android:name=".view.activities.display.ViewImageActivity"
                android:exported="false"/>
        <activity
                android:name=".view.activities.profile.ProfileActivity"
                android:exported="false"
                android:parentActivityName=".view.activities.settings.SettingsActivity"/>
        <activity
                android:name=".view.activities.settings.SettingsActivity"
                android:exported="false"
                android:parentActivityName=".view.MainActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".view.activities.auth.SetUserInfoActivity"
                android:exported="false"/>
        <activity
                android:name=".view.activities.auth.PhoneLoginActivity"
                android:exported="false"/>
        <activity
                android:name=".view.activities.startup.WelcomeScreenActivity"
                android:exported="false"/>
        <activity
                android:name=".view.activities.startup.SplashScreenActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.MainActivity"
                android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.wolf8017.twochat.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
